html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

* {
  font-family: "Cardo variant0", red;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  color: var(--bs-light);
}

body {
  margin-bottom: 60px;
  /*background-color: var(--bs-dark) !important;*/
  background-color: white;

}


main {
  min-height: calc(100% - calc(79px * 1));
}


.only-print {
  display: none;
}

@media print {
  .only-print {
    display: block;
  }

  .no-print {
    display: none !important;
  }

  .container {
    max-width: 100%;
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff9350 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff9350;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


.logo img {
  height: 50px;
  width: 50px;
}
.botaoAmarelo{
  background-color: var(--Laranja);
  box-shadow: 3px 3px 0px var(--DropShadow) inset;
  color: white;
  border: 0px solid var(--Laranja);
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 130px;
  height: 40px;
  width: 130px;
}
.form-control{
  border: 2px 0px 2px 0px solid black;
  color: var(--Laranja);
}


.card .card-img-top {
  background-color: white !important;
  min-width: 100% !important;
  min-height: 150px !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.categoria .row {
  overflow-y: hidden;
  overflow-x: scroll;
  flex-wrap: nowrap;
  max-height: 360px;
}

.card .card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
}

.Nome{
  text-transform: capitalize;
  text-align: center;
}

.categoria {
  overflow: hidden;
  --DropShadow : rgba(193, 172, 132, 0.349);
  box-shadow: -7px 7px 10px var(--DropShadow),7px -7px 10px var(--DropShadow);
  
}

.IMGproduto{
  background-color: white !important;
  min-width: 100% !important;
  min-height: 150px !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.ProdutoCard{
  box-shadow: -7px 7px 10px var(--DropShadow),7px -7px 10px var(--DropShadow); 
}

.espacamento{
  margin-top: 40px;
  margin-bottom: 40px;
}

.espacamentoBotao{
  margin-left: 50px;
}


.BemVindo{
  background-image: url();
}

.BarraPesquisa-group {
  height: 40px;
  max-width: 300px;
  border: 1px solid var(--Laranja);
}

.BarraPesquisa-group input, .BarraPesquisa-group span {
  border: none;
}
.BarraPesquisa-group input {
  border-right: 1px solid var(--Laranja);
}





.carringo-item {
  border-bottom: 2px solid var(--Laranja);
}

.bg-laranja {
  background: var(--Laranja);
}