@{
    ViewData["Title"] = "Home Page";
}
<main class="container">

    <h1 class="titulo">Bem Vindo ao</h1>

    <div class="diImg">
        <img class="imgem" src="~/img/Logo.png">
    </div>


    <div class="Descricao d-flex container">
        <!--imagem motoboy-->
        <div class="col-lg-6 col-md-2">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/delivery-boy-riding-scooter-6744036-5678921.png" alt="" srcset=""
                class="imagemInicio float-start display-none">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">
            <h1 class="letra">O que nós somos?</h1>
            <div>
                <h3 class="letra">Nós somos uma empresa especializada em entregas de alimentos de qualquer tipo!
                    Está com fome? Basta pedir e nós entregamos!</h3>
            </div>
        </div>


    </div>


    <div class="Descricao d-flex container">
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">
            <h1>Como pedir?</h1>
            <div class="d-flex justify-content-center">
                <h3 class="letra text-center">Simples! Basta pesquisar o alimento que deseja, clicar em "Comprar" e
                    adicionar
                    ao
                    carrinho! Não se esqueça de fazer
                    Log-in para utilizar nosso site em melhor experiência!</h3>
            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-2">
            <img src="https://png.pngtree.com/png-vector/20221005/ourmid/pngtree-person-hold-cellphone-order-food-or-products-online-on-gadget-png-image_6255108.png"
                alt="" srcset="" class="imagemInicio float-end">
        </div>
    </div>


    <div class="Descricao d-flex container">
        <div class="col-lg-6 col-md-4 col-sm-2">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/girl-login-in-online-account-8628867-6873896.png" alt="" srcset="" class="imagemInicio">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center flex-column">
            <h1>Como faço Log-in?</h1>
            <div class="d-flex justify-content-center">
                <h3 class=" text-center float-start">Apenas clique em "Log-in" para acessar sua conta caso já tenha uma. Não possui
                    uma
                    conta? Não há problema!
                    Clique em "Sign-In" para fornecer sua informações e criar uma conta S-Food!</h3>
            </div>
        </div>

    </div>

</main>