/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4qnirmil5l] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4qnirmil5l] {
  color: #0077cc;
}

.btn-primary[b-4qnirmil5l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4qnirmil5l], .nav-pills .show > .nav-link[b-4qnirmil5l] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4qnirmil5l] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4qnirmil5l] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4qnirmil5l] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4qnirmil5l] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4qnirmil5l] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

li[b-4qnirmil5l]{
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
}
li:hover[b-4qnirmil5l]{
  text-decoration: none;
  color: rgb(255, 0, 0);
}

.botaoVermelho[b-4qnirmil5l]{
  background-color: rgb(211, 0, 0);
  border: 1px solid white;
  border-radius: 5px;
  
  padding: 6px;

  transition-duration: 0.4s;
}
.botaoVermelho:hover[b-4qnirmil5l]{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(211, 0, 0);
  border-radius: 5px;
  color: rgb(211, 0, 0);
  padding: 6px;
}